<form method=post onSubmit='return verify(this);'>
    <br><br>
    <div align="center"><b>or Create a New Player ID (all records from previous contests are erased)</b></div>
    <table width='600' border='1' cellspacing='0' cellpadding='0' align='center' bordercolor='#990000'>
        <tr>
            <td align="center" bgcolor="#f3f3f3">

                <table width="100%" border=0 cellspacing="3" cellpadding="0">
                    <tr>
                        <td align=left width=150 class='10'><b>Username (shown on website):</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td align=left width=150 class='10'><b>Password:</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td align='left' class='10'><b>Confirm Password:</b></td>
                    </tr>
                    <tr>
                        <td align='left'><input type="text" name="user_name" size="15" maxlength="15"></td>
                        <td>&nbsp;</td>
                        <td align='left'><INPUT maxLength=15 name=password size=15 type=password></td>
                        <td>&nbsp;</td>
                        <td align='left'><INPUT maxLength=15 name=password2 size=15 type=password></td>
                    </tr>
                    <tr>
                        <td colspan=5 align='left' class='10'>
                            Player nickname will be shown in the grid and standings.&nbsp;&nbsp;
                            I reserve the right to reject offensive,vulgar, or slanderous nicknames.&nbsp;&nbsp;The info
                            below will only be used to contact you regarding payment, prizes, or late entries.  It will not be shared with anyone.</font>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=5 align='center'><font size="-2"><hr></font></td>
                    </tr>

                    <tr>
                        <td align=left width=150 class='10'><b>Email address:</b></td>
                        <td>&nbsp;</td>
                        <td align=left width=150 class='10'><b>Name (your real name):</b></td>
                        <td>&nbsp;</td>
                        <td align='left' class='10'><b>Phone:</b></td>
                    </tr>
                    <tr>
                        <td align=left><input type="text" name="email" size="40" maxlength="40"></td>
                        <td>&nbsp;</td>
                        <td align='left'><input type="text" name="pname" size="20" maxlength="40"></td>
                        <td>&nbsp;</td>
                        <td align='left'><input type="text" name="phone" size="12" maxlength="12"></td>
                    </tr>
                    <tr><td>&nbsp;<br></td></tr>
                    <tr>
                        <td colspan="5" align="left">
                            Use only letters,numbers,dashes, or spaces in username and password.<br>
                            If you enter by accident, please <a href='mailto:crispzone@gmail.com'>contact me via e-mail</a> so I can delete the incorrect entry.
                        </td>
                    </tr>
                    <tr><td>&nbsp;<br></td></tr>
                    <tr>
                        <td colspan=5 align='center'><INPUT type=submit value='Sign Me Up' id="signUpBtn"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>   
<br /> 
<br />

<script>

    $signUpBtn.onclick(function () {

        var _username = user_name.textContent;
        var _password = password.textContent;

        var url = @Url.Action("ValidateUsername", "Enter") + "?username = " + _username;
        var data = {
            Username : _username
        }

        $.ajax({
            url: url,
            data: data,
            success: function (result) {
                var pass = JSON.parse(result);
                if (pass) {
                    //let user know everything worked
                    alert("Everything worked! Woohoo!");
                }
                else {
                    alert("Make sure your username on contains A-Z, a-z, 0-9, _, -");
                }
            },
            failure: function (result) {
                //let user know something is wrong
                alert("Everything is broken!");
            }
        });

    });

</script>