<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EntryMain</title>
</head>
<body>
<div>
    <table width="824" bgcolor="#ffffff">
        <tbody>
            <tr>
                <td align="center">
                    <br />
                    <div align="center"><b>Login to make your pix</b></div>
                    <table width="600" border="1" cellspacing="0" cellpadding="0" align="center" bordercolor="#990000">
                        <FORM method=post>
                            <input type="hidden" name="job" value="GetPix">
                            <tr>
                                <td align="center">
                                    <table width="100%" border=0 cellspacing="3" cellpadding="0" bgcolor="#f3f3f3">
                                        <tr>
                                            <td height="40" align="right"><b>Username:</b></td>
                                            <td align="left"><input type="text" name="user_name" size="15" maxlength="15"></td>
                                            <td align="right"><b>Password:</b></td>
                                            <td align="left"><INPUT maxLength=15 name=password size=15 type=password></td>
                                            <td align="center"><INPUT type=submit value="Make/update Pix"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </FORM>
                    </table>

                    @if (ViewBag.isPreseason)
                    {
                        Html.RenderPartial("_NewEntry");
                    }
                </td>
            </tr>
        </tbody>
    </table>
    

</div>
</body>
</html>

<SCRIPT LANGUAGE="javascript">

    function verify(f)
    {
        var empty_fields = "";
        for(var i = 0; i < f.length; i++) {
            var e = f.elements[i];
            if (isblanks(e.value)) {
                empty_fields += '\n   ' + e.name + ' is blank';}
            if (!validchar(e.value.toUpperCase()))  {
                empty_fields += '\n   ' + e.name + ' contains invalid characters';}
        }
        if (!(f.password.value == f.password2.value)) {
            empty_fields += '\n   Passwords do not match';}

        if (empty_fields) {
            msg = "The following errors were found:\n";
            msg += empty_fields + "\n\n Please correct and retry.";
            alert(msg);
            return false;
        }
        return true;
    }
    function isblanks(s)
    {
        for(var i=0; i < s.length; i++) {
            var c = s.charAt(i);
            if ((c != ' ') && (c != '\n') && (c != '\t')) return false;
        }
        return true;
    }
    @*function validchar(s)
    {
        var goodchars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789.@()_ -";
        for(var i=0; i < s.length; i++) {
            var c = s.charAt(i);
            if (goodchars.indexOf(c)==-1) return false;
        }
        return true;
    }*@

    function ValidateUsername() {
        //send username to the server
        //server determines if username is good or bad
        //return success/failure
    }

    $signUpBtn.onclick(function () {

        var _username = user_name.textContent;
        var _password = password.textContent;

        var url = @Url.Action("ValidateUsername", "Enter") + "?username=" + _username;
        var data = {
            Username : _username
        }

        $.ajax({
            url: url,
            data: data,
            success: function (result) {
                var pass = JSON.parse(result);
                if (pass) {
                    //let user know everything worked
                    alert("Everything worked! Woohoo!");
                }
                else {
                    alert("Make sure your username on contains A-Z, a-z, 0-9, _, -");
                }
            },
            failure: function (result) {
                //let user know something is wrong
                alert("Everything is broken!");
            }
        });

    });

</SCRIPT> 