
<table width='100%' border='1' cellspacing='0' cellpadding='0'>
    <tr><th align='left' valign='bottom'>&nbsp;<a href="standings.asp?so=player">Player</a> (<a href="standings.asp">Record</a>)</th></tr>
    @foreach (var standing in Model.StandingsList)
    {
        <tr>
            @if (standing.userPaid)
            {
                <td>@standing.username+standing.record</td>
            }
            else
            {
                <td class="redtext">@standing.username+standing.record</td>
            }

            @for (var i = 0; i < standing.winLoss.Count; i++)
            {
                <td>@standing.winLoss.ElementAt(i).ToString()</td>
            }

            @for (var i = 0; i < Model.NumberOfWeeks - standing.winLoss.Count; i++)
            {
                <td>0-0</td>
            }
        </tr>
    }
</table>