
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Preseason</title>
</head>
<body>
<div align="center">
    <table border=0>
        <tr>
            <td valign="top"><img align="left" src="lee-corso.png" width="412" height="318" /></td>
            <td align="center">
                <font color="#990000" size="+3"><b>CRISPIX is BACK!</b></font><br><br>
                <br><a href="/crispix/rules.asp"><font color="#990000" size="+3">Read the Rules</font></a>
                <br><br /><a href="/crispix/entry.asp"><font color="#990000" size="+3">or Enter Now!</font></a>
                </font>
                <br />
                <br />
                <font color="#990000" size="+3">Deadline to enter is Aug. 28th!</font>
            </td>
        </tr>
    </table>
</div>
<br>
</body>
</html>

@*
sub showPreseason
response.write "<div align='center'><h2>" & HeaderText & "</h2></div>" %>
<div align="center">
    <table border=0>
        <tr><td valign="top"><img align='left' src="lee-corso.png" width="412" height="318" /></td>
            <td align='center'>
                <font color='#990000' size='+3'><b>CRISPIX is BACK!</b></font><br><br>
                <br><a href="/crispix/rules.asp"><font color='#990000' size='+3'>Read the Rules</font></a>
                <br><br /><a href="/crispix/entry.asp"><font color='#990000' size='+3'>or Enter Now!</font></a>
                </font><br /><br />
                <font color='#990000' size='+3'>Deadline to enter is Aug. 28th!</font>
            </td>
        </tr></table></div>
<br>
<%
end sub*@