
@model crispix2._0.Models.Home.HomeLoad

@{
    Response.Expires = -1;


    string prize1 = "$422"; //1st
    string prize2 = "$169"; //2nd
    string prize3 = "$126"; //3rd
    string prize4 = " $84"; //4th
    string prize5 = " $42"; //5th

    //GetLock ?

    //if pix are locked
    //  Headertext = "Here we go!";
    //else                                                                            --show the countdown clock here--
    //  headerText = "Week " + currWeek + " Pix are Open<br/>" + "<div id='tagline'><script type="text/Javascript">countdown_clock(" + cdc + ",18,00,1);</script></div>"

}


<!-- Helper method to show the preseason HTML -->
@helper  showPreseason()
{
    <div align='center'><h2> HeaderText </h2></div>
    <div align="center">
        <table border="0">
            <tr>
                <td valign="top">
                    <img align="left" src="~/Images/lee-corso.png" width="412" height="318" />
                </td>
                <td align="center">
                    <font color="#990000" size="+3"><b>CRISPIX is BACK!</b></font>
                    <br /><br /><br />
                    <a href="~/Rules.cshtml"><font color="#990000" size="+3">Read the rules</font></a>
                    <br /><br />
                    <a href="~/Enter.cshtml"><font color="#990000" size="+3">or Enter Now!</font></a>
                    <br /><br />
                    <font color="#990000" size="+3">Deadline to enter is Aug. 28th!</font>
                </td>
            </tr>
        </table>
    </div>
}

<!-- Helper method to show the final results of the normal season -->
@helper  showFinal()
{

//get PlayerCount
    <table border=0 cellspacing=0 cellpadding=0 width='100%'>
        <!-- Give a shoutout to the first place winner -->
        <tr>
            <td align='center'><h3>Congratulations to BAMA BULLDOG<br />and to all the winners!</h3></td>
        </tr>
        <!-- List the remaining winners and the loser -->
        <tr>
            <td align='center' valign='top'>
                <table width=400 border="1" cellspacing="0" cellpadding="0">
                    <tr>
                        <td bgcolor="#FFFFCC">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr><th height="15" colspan="3" align="center" scope="col"><B>2014 CRISPIX WINNERS</B></th></tr>
                                <tr><td align='right'>&nbsp;1st:&nbsp;</td><td align='right'>$422&nbsp;&nbsp;&nbsp;</td><td align='left'><b>BAMA BULLDOG</b></td></tr>
                                <tr><td align='right' valign="top">&nbsp;2nd/3rd:&nbsp;</td><td align="right" valign="top">$148&nbsp;&nbsp;&nbsp;</td><td align='left'><b>OUFANINGA,RAY DONOVAN</b></td></tr>
                                <tr><td align='right' valign="top">&nbsp;4th/5th:&nbsp;</td><td align="right" valign="top">$25&nbsp;&nbsp;&nbsp;</td><td align='left'><b>LEO1995,ONDEADLINE,OUWANTSUM2,PAC12HUSKY,SLICK WILLY</b></td></tr>
                                <tr><td colspan=3 height="15">&nbsp;Consolation - free bowl contest entry goes to <b>HEYWOOD</b>&nbsp;</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br />
                <!-- Mention when the bowls contest starts-->
                <div align="center"><b>Bowls Contest Starts Here Tuesday Night!</b></div>
                <br />
            </td>
        </tr>
    </table>
}

@helper  showLocked()
{
    <div align="center">
        <img src="~/Images/HereWeGo.gif" width="611" height="66" />
        <br />
        <table>
            <tr>
                <td valign="top" align="center">
                    <!-- #include virtual="/crispix/stats-new.asp" -->
                </td>
            </tr>
        </table>
        <!-- This was in default.asp. I'm guessing this was part of an unfinished expansion-->
        @if (1 == 2)
        {

            <br />
            <img src="~/Images/crispix-map2.gif" width="350" height="222" alt="" />
        }

        <!--ShowUnpaid();
        GetPlayerCount();
        ShowTopTen("YES");
        Response.Write(Request.ServerVariables("http_user_agent") + "<br><br>");
            -->
    </div>
}

@helper showUnlocked()
{
//getPlayerCount
    <table border=0 cellspacing=0 cellpadding=0 width='100%'>
        <tr><td><%=maincmt%></td></tr>
        <tr>
            <td valign='top'>
                <!--#include virtual="/crispix/stats-new.asp"-->
            </td>
        </tr>
    </table>
    showTopTen("NO");
}

<!-- Helper method to display the top ten users-->
@helper  showTopTen(string withPix)
{
/*
dim tempRcount,temptenpix,pickers,pickct
redim pickers(13,50)
Const adOpenStatic=3
Const adLockReadOnly=1
------------------------init some vars
tempRcount=0
x=0
top5ct=1
w=tempGrid(1,0)
'if currweek=13 then currweek=14 end if
lastw = (currweek-1)*2+1
lastL = ((currweek-1)*2)+2
pickct=0
fifthplaceW=-1
-------------------------------------
do while x<10 or w>=0
if x<10 then
  w=tempGrid(1,x)
 else
  if w>tempGrid(1,x) then w=-1 end if
  end if
if w>=0 then
  if top5ct<=6 or tempGrid(1,x)=fifthplaceW then
     trbg="bgcolor='#FEFDCB'"
     top5ct=top5ct+1
     if top5ct=7 then
        fifthplaceW = tempGrid(1,x)
        end if
    else
     trbg=""
     end if
'	  if tempRcount<=5 then trbg="bgcolor='#FEFDCB'" else trbg="" end if
  temptopten = temptopten & "<tr " & trbg & " class='8'><td>&nbsp;" & tempGrid(0,x) & "</td>" _
    & "<td align='center'>" & tempGrid(1,x) & "-" & tempGrid(2,x) & "</td>" _
& "<td align='center'>" & tempGrid(lastW,x) & "-" & tempGrid(lastL,x) & "</td></tr>"
'		& "<td align='center'>" & tempGrid(27,x) & "-" & tempGrid(28,x) & "</td></tr>"
  pickers(0,pickct) = tempGrid(0,x)
  pickers(1,pickct) = tempGrid(1,x)
  pickers(2,pickct) = tempGrid(2,x)
  z=0
  do while z<=Prows
     if pickers(0,pickct)=pgrid(0,z) then
        pickers(3,pickct)=pgrid(1,z)
        pickers(4,pickct)=pgrid(2,z)
        pickers(5,pickct)=pgrid(3,z)
        pickers(6,pickct)=pgrid(4,z)
        pickers(7,pickct)=pgrid(5,z)
        pickers(8,pickct)=pgrid(6,z)
        pickers(9,pickct)=pgrid(7,z)
        pickers(10,pickct)=pgrid(8,z)
        pickers(11,pickct)=pgrid(9,z)
        pickers(12,pickct)=pgrid(10,z)
        exit do
        end if
     z=z+1
     loop
  pickct=pickct+1
  tempRcount=tempRcount+1
  end if
x=x+1
loop
-------------------------------------------------
for y=tempRows to tempRows-x+2 step -1
if tempGrid(1,y)=tempGrid(1,tempRows) then trbg="bgcolor='#FEFDCB'" else trbg="" end if
bottomTen=bottomTen & "<tr " & trbg & " ><td>&nbsp;" & tempGrid(0,y) & "</td>" _
  & "<td align='center'>" & tempGrid(1,y) & "-" & tempGrid(2,y) & "</td>" _
  & "<td align='center'>" & tempGrid(lastW,y) & "-" & tempGrid(lastL,y) & "</td></tr>"
next%>
---------------------------------------------------
<% if withpix<>"YES" then %>	<br />
    <table border=0 width=600 align='center'><tr>
    <td align='left' valign='top'>
    <table width='100' border='0' cellspacing='0' cellpadding='0'>
    <tr><td rowspan='33' bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td>
       <td colspan=3 bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='98' height='1' border='0'></td>
       <td rowspan='33' bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td></tr>
    <tr><td colspan=3 bgcolor="#990000" class='whttext'>&nbsp;&nbsp;<b>Prizes</b>&nbsp;&nbsp;</td></tr>
    <tr><td align="right">&nbsp;&nbsp;1st:</td><td align="right"><%=prize1%></td><td rowspan=5><img src='/pictures/mm_spacer.gif' width='60' height='1' border='0'></td></tr>
    <tr><td align="right">&nbsp;&nbsp;2nd:</td><td align="right"><%=prize2%></td></tr>
    <tr><td align="right">&nbsp;&nbsp;3rd:</td><td align="right"><%=prize3%></td></tr>
    <tr><td align="right">&nbsp;&nbsp;4th:</td><td align="right"><%=prize4%></td></tr>
    <tr><td align="right">&nbsp;&nbsp;5th:</td><td align="right"><%=prize5%></td></tr>
    <tr><td colspan=3><br>Last place gets free bowls entry.<br><br>
    <font style='background: #FEFDCB'><b>Currently in the $$</b>->&nbsp;</font><br>
        </td></tr>
    <tr><td  colspan=3 bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td></tr>
    </table>
    </td>
    <td><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td>
    <td width="230">
    <table width='230' cellspacing='0' cellpadding='0' bgcolor='#FFFFFF' border=0>
    <tr><td rowspan='55' bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td>
      <td colspan=4 bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='228' height='1' border='0'></td>
      <td rowspan='55' bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td></tr>
    <tr bgcolor="#990000">
     <td class='whttext'><b>&nbsp;Top Players</b></td><td class='whttext'><b>Season</b></td>
     <td bgcolor='#990000' rowspan=50><img src='/pictures/mm_spacer.gif' alt='' width='1' height='1' hspace='0' vspace='0' border='0' align='middle'></td>
     <td class='whttext' nowrap='nowrap'><b>Last Wk</b></td></tr>
    <tr><td bgcolor='#990000' colspan=4><img src='/pictures/mm_spacer.gif' width='230' height='1' border='0'></td>
    <% response.write temptopten %>
    <tr><td colspan=4 bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='228' height='1' border='0'></td></tr>
    </table>
    </td>
       <td><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td>
    <td width='230'>
    <table width='235' cellspacing='0' cellpadding='0' bgcolor='#FFFFFF' border=0>
    <tr><td rowspan='55' bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td>
      <td colspan=4 bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='228' height='1' border='0'></td>
      <td rowspan='55' bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td></tr>
    <tr bgcolor="#990000">
     <td class='whttext'><b>&nbsp;Bottom Players</b></td><td class='whttext'><b>Season</b></td>
     <td bgcolor='#990000' rowspan=<%=tempRcount+2%>><img src='/pictures/mm_spacer.gif' alt='' width='1' height='1' hspace='0' vspace='0' border='0' align='middle'></td>
     <td class='whttext' nowrap='nowrap'><b>Last Wk</b></td></tr>
    <tr><td bgcolor='#990000' colspan=4><img src='/pictures/mm_spacer.gif' width='230' height='1' border='0'></td>
    <% response.write bottomten %>
    <tr><td colspan=4 bgcolor='#990000'><img src='/pictures/mm_spacer.gif' width='228' height='1' border='0'></td></tr>
    </table>
    </td>
    </tr></table>
<% else %>
    <table><tr><td width=640>
    <table border='0' width='100%' cellspacing='0' cellpadding='0' bgcolor='#FFFFFF'>
    <tr bgcolor="#990000">
    <td rowspan=60><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td>
    <td colspan=11><img src='/pictures/mm_spacer.gif' width='640' height='1' border='0'></td>
    <td rowspan=60><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td>
    </tr>
    <tr><td colspan=11 bgcolor='#990000' class='whttext'><b>&nbsp;Top Ten Players' Picks for Week <%=currweek%> (<%=currwknam%>)</b></td></tr>
    <% for x= 0 to ubound(pickers,2)
     if len(trim(pickers(1,x)))>1 then
        response.write "<tr class='dataRow' onMouseOver=""this.className='dataRowHili';"" onMouseOut=""this.className='dataRow';"">" _
          & "<td align='left'>&nbsp;" & pickers(0,x) & "&nbsp;" & pickers(1,x) & "-" & pickers(2,x) & "</td>"
        for y=3 to 12
          bg=""
          if instr(losers,pickers(y,x)) then bg="#d3d1d1" end if
          if instr(winners,pickers(y,x)) then bg="#FEFAE2" end if
          response.write "<td align='left' bgcolor='" & bg & "' nowrap>" & pickers(y,x) & "</td>"
          next
        response.write "</tr>"
        end if
     next %>
    <tr bgcolor="#990000">
    <td colspan=11><img src='/pictures/mm_spacer.gif' width='1' height='1' border='0'></td>
    </tr>
    </table>
    </td></tr></table>
    <%
end if

*/

}

<!-- Helper method to show the ESPN scoreboard-->
@helper  espnScoreBoard()
{
    <object width="300" height="387" type="application/x-shockwave-flash" data="http://a.espncdn.com/community/widgets/swfs/scoreboard.swf?sport=ncf&pid=espnscoreboard_1284250343890664565&share=embed" allowScriptAccess="always" allowNetworking="all"><param name="movie" value="http://a.espncdn.com/community/widgets/swfs/scoreboard.swf?sport=ncf&pid=espnscoreboard_1284250343890132305&share=embed" /><param name="wmode" value="transparent" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /></object>
}

@helper  twitFeed()
{
    <a class="twitter-timeline" href="https://twitter.com/crispzone/crispix" data-widget-id="373594448254349313">Tweets from &#64;crispzone/crispix</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
}

@helper  espnStory()
{
    <object width="300" height="387" type="application/x-shockwave-flash" data="http://a.espncdn.com/community/widgets/swfs/topstory.swf"><param name="flashVars" value="sport=ncf&amp;pid=espntopstory_137780277260351871&amp;espn=false&amp;share=embed"><param name="movie" value="http://a.espncdn.com/community/widgets/swfs/topstory.swf"><param name="wmode" value="transparent"><param name="allowScriptAccess" value="always"><param name="allowNetworking" value="all"></object>
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="/includes/crispix.js" language="JavaScript"></script>
    <script src="/includes/countdown-clock.js" language="JavaScript">
    </script>
    <TITLE>Crispzone Sports</TITLE>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/crispix/crispix.css" type="text/css" />
</head>
<body>
<div align="center">
    <table width="78%" border="0" cellpadding="0" cellspacing="0" bgcolor='#ffffff'>
        <tr>
            <td>
                <!-- showMain begins here in default.asp-->
                    
                    @{Html.RenderPartial(Model.PartialString);}

                @*  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top" width="4"></td>
                            <td valign="top" width="700" height="390" align="left">
                                <table width="90%">
                                    <tr>
                                        <td align="left">
                                            <!-- choose which default page to show -->
                                            @if (ViewBag.Main.Equals("UNLOCKED"))
                                            {
                                                

                                                $1$getPlayerCount#1#
                                                <table border = 0 cellspacing = 0 cellpadding = 0 width = '100%' >
                                                <tr><td><%= maincmt %></td></tr>
                                                <tr><td valign = 'top'>
                                

                                                <!--#include virtual="/crispix/stats-new.asp"--> 
                                                </td></tr></table>
                                                
                                            }
                                            else if (ViewBag.Main.Equals("FINAL"))
                                            {

                                            }
                                            else if (ViewBag.Main.Equals("PRESEASON"))
                                            {
                                                <div align='center'><h2> HeaderText </h2></div>
                                                <div align="center">
                                                    <table border=0>
                                                        <tr>
                                                            <td valign="top"><img align='left' src="lee-corso.png" width="412" height="318" />
                                                            <td align='center'>
                                                                <font color='#990000' size='+3'><b>CRISPIX is BACK!</b></font>
                                                                <br>
                                                                <br>
                                                                <br>
                                                                <a href="/crispix/rules.asp"><font color='#990000' size='+3'>Read the Rules</font></a>
                                                                <br>
                                                                <br />
                                                                <a href="/crispix/entry.asp"><font color='#990000' size='+3'>or Enter Now!</font></a>
                                                                <br />
                                                                <br />
                                                                <font color='#990000' size='+3'>Deadline to enter is Aug. 28th!</font>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <br>
                                            }
                                            else //if ViewBag.Main.Equals("LOCKED")
                                            {

                                            }
                                            <br />
                                            <img src="~/Images/mm_spacer.gif" alt="" width="700" height="1" border="0" />
                                            <table align='center' width=960 border=0 cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" height="400">
                                                <tr>
                                                    <td width=310 align='center' valign="middle"> @{ espnScoreBoard();  }</td>
                                                    <td align='center' width=350 valign="middle"> @{ twitFeed();        }</td>
                                                    <td width=310 align='center' valign="middle"> @{ espnStory();       }</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    *@
                <!-- end showMain-->
            </td>
        </tr>
    </table>
</div>
</body>
</html>


