<!--#include virtual="/includes/crispix.asp"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
    <script src="/includes/crispix.js" language="JavaScript"></script>
    <TITLE>Crispzone Sports</TITLE>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/crispix/crispix.css" type="text/css" />
</HEAD>
<body>
    <div align="center">
        <table width='100%' border='1' cellspacing='0' cellpadding='0' align='center'>
            <thead align='left' valign='bottom'>
                <tr class='dataRow'>
                    <td><b>Player</b></td>
                    <td><b>Record</b></td>
                    @for (int i = 1; i < 11; i++)
                    {
                        <td align='center'><b>@i</b></td>
                    }

                </tr>
            </thead>
            @foreach (var row in Model.GridList)
            {
                var nameAndRecord = row.username + "(" + row.record + ")";
                <tr class='dataRow' onMouseOver="this.className='dataRowHili';" onMouseOut="this.className='dataRow';">
                    <td>@row.username</td>
                    <td>@row.record</td>
                    @foreach (var pick in row.pix)
                    {
                        <td>@pick</td>
                    }
                </tr>
            }
        </table>
    </div>
</body>
</html>