

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="/javascript/crispix.js" language="JavaScript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <title>Crispzone Sports</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/css/crispix.css" type="text/css" />
</head>
<body>
    <div align="center">
        <table width="824" border="0" cellpadding="0" cellspacing="0" bgcolor='#ffffff'>
            <tr>
                <td>
                    <div id="menutable">
                        <span onclick="goTo('/home.html');">
                            <img src="/images/header.jpg" width="100%" height="84" hspace="0" vspace="0" border="0" />
                        </span>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width=50>&nbsp;</td>
                                <td bgcolor="#990000" onmouseover="this.bgcolor = '#FFFFFF';" onclick="    goTo('/home.html');" align='center'>Home</td>
                                <td bgcolor="#990000" onmouseover="this.bgcolor = '#FFFFFF';" onclick="    goTo('/views/rules.html');" align='center'>Rules</td>
                                <td bgcolor="#990000" onmouseover="this.bgcolor = '#FFFFFF';" onclick="    goTo('/views/entry.html');" align='center'>Enter</td>
                                <td bgcolor="#990000" onmouseover="this.bgcolor = '#FFFFFF';" onclick="    goTo('/views/schedule.html');" align='center'>Schedule</td>
                                <td bgcolor="#990000" onmouseover="this.bgcolor = '#FFFFFF';" onclick="    goTo('/views/standings.html');" align='center'>Standings</td>
                                <td bgcolor="#990000" onmouseover="this.bgcolor = '#FFFFFF';" onclick="    goTo('/views/grid.html');" align='center'>Grid</td>
                                <td bgcolor="#990000" onmouseover="this.bgcolor = '#FFFFFF';" onclick="    goTo('/views/links.html');" align='center'>Links</td>
                                <td width=50>&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table border=0 cellspacing=0 cellpadding=5 align='center'>
                        <tr>
                            <td align='center' height=500 valign='middle'>
                                Grid will be available after picks are locked.<br /><br />
                                <a style='color: Green;' href='grid.asp?wk=1'>Aug 30 Grid</a><br><a style='color: Green;' href='grid.asp?wk=2'>Sept 6 Grid</a><br><a style='color: Green;' href='grid.asp?wk=3'>Sept 13 Grid</a><br><a style='color: Green;' href='grid.asp?wk=4'>Sept 20 Grid</a><br><a style='color: Green;' href='grid.asp?wk=5'>Sept 27 Grid</a><br><a style='color: Green;' href='grid.asp?wk=6'>Oct 4 Grid</a><br><a style='color: Green;' href='grid.asp?wk=7'>Oct 11 Grid</a><br><a style='color: Green;' href='grid.asp?wk=8'>Oct 18 Grid</a><br><a style='color: Green;' href='grid.asp?wk=9'>Oct 25 Grid</a><br><a style='color: Green;' href='grid.asp?wk=10'>Nov 1 Grid</a><br><a style='color: Green;' href='grid.asp?wk=11'>Nov 8 Grid</a><br><a style='color: Green;' href='grid.asp?wk=12'>Nov 15 Grid</a><br><a style='color: Green;' href='grid.asp?wk=13'>Nov 22 Grid</a><br>
                            </td>
                        </tr>
                    </table>
    </div></td></tr>
    <tr>
        <td>
            <table width="100%" align="center" bgcolor="#707070">
                <tr>
                    <td align='center' class='whttext'>
                        <a class='whttext' href="/home.html">Home</a>&nbsp;
                        |&nbsp; <a class='whttext' href="/views/home.html">Rules</a>
                        |&nbsp; <a class='whttext' href="/views/schedule.html">Schedule</a>
                        |&nbsp; <a class='whttext' href="/views/standings.html">Standings</a>
                        |&nbsp; <a class='whttext' href="/views/grid.html">Grid</a>
                        |&nbsp; <a class='whttext' href="/views/links.html">Links</a>
                        |&nbsp; <a class='whttext' href="/views/entry.html">Pix Entry</a>
                        |&nbsp; <a class='whttext' href="http://sports.espn.go.com/ncf/rankingsindex">Top 25 Rankings</a> (from ESPN)<hr>
                        Crispix is not affiliated with www.crispix.com, &nbsp;home of Kellogg's Crispix cereal.&nbsp;&nbsp; However, if you are
                        hungry for cereal, &nbsp;you can't beat delicious Crispix cereal,<br /> with it's crispy rice on the one side and crunchy corn
                        on the other. &nbsp;&nbsp;This is not a paid endorsement, just my small way of saying "Please don't sue me, Kelloggs".
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </table>
    </div>
</body>
</html>

